# Ignore IDE specific files
*.komodo*
*.sublime*
.idea/

# Ignore special files
.DS_Store
.fuse*
._*
*.bin

# Build directories
build
build_*

# Game data dirs
data
c3data
c2data
c1data
cadata

# Misc debris
.*.sw?
*~

# Convenient symlinks
openc2e
